@import '../../../styles/variables.scss';

.tableDetails {

  td {
    @apply border-collapse border;
    padding: 5px
  }

  td:last-child {
    text-align: right;
  }

  td:first-child {
    text-align: left;
  }
  
  
}