.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr auto;
  grid-template-areas: "header"
    "content"
    "footer"
  ;

  nav {
    grid-area: header;
    align-items: center;
  }

  .content {
    grid-area: content;
    height: 100%;
  }

  footer {
    grid-area: footer;
  }
  
}