@import './variables';

.t1,
.t2,
.t3 {
  font-family: 'Bitter', serif;
}

p, span {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}

.t1 {
  font-style: 900;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

.t2 {
  font-size: 38px;
  font-weight: 800;
  line-height: 48px;
}

.t3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.t-circle {
  width: 120px;
  height: 120px;
  background-color: $color-4;
}

.t-up {
  text-transform: uppercase;
}

.t-icon {
  font-size: 68px;
}

.t-icon-4 {
  font-size: 28px;
}

.bg-1 {
  background-color: $color-1;
  color: $white;
}

.bg-2 {
  background-color: $color-2;
  color: $black;
}

.bg-3 {
  background-color: $color-3;
  color: $black;
}

.bg-4 {
  background-color: $color-4;
  color: $white;
}

.bg-4-inverse {
  background-color: $white;
  color: $color-4;
}

.bg-hover-1:hover {
  background-color: $white;
  color: $color-1;
}

.bg-hover-2:hover {
  background-color: $color-4;
  color: $white;
}

.border-color-1 {
  border-color: $color-4;
}

.t-primary {
  color: $color-4;
}

.t-secondary {
  color: $color-1;
}

.t-white {
  color: $white;
}

.t-black {
  color: $black;
}

.btn-1 {
  @apply rounded-md px-3 py-2 text-sm font-medium;
  background-color: $color-4;
  color: $white;
  text-transform: uppercase;
}
